<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

	<p>
		<label for="firstname">First Name </label>
		<input type="text" id="firstname" name="firstname" formControlName="firstname">
      </p>
      <p
			*ngIf="contactForm.controls.firstname.errors?.required && contactForm.controls.firstname?.invalid && (contactForm.controls.firstname?.touched || contactForm.controls.firstname?.dirty)">
			firstname is required </p>      <p
			*ngIf="contactForm.controls.firstname.errors?.maxlength && contactForm.controls.firstname?.invalid && (contactForm.controls.firstname?.touched || contactForm.controls.firstname?.dirty)">
			firstname max 10 </p>
		<p>
			<label for="email">Email</label>
			<input type="text" id="email" name="email" formControlName="email">
  </p>
  <p
			*ngIf="contactForm.controls.email.errors?.required && contactForm.controls.email?.invalid && (contactForm.controls.email?.touched || contactForm.controls.email?.dirty)">
			email is required </p>      <p
			*ngIf="contactForm.controls.email.errors?.pattern && contactForm.controls.email?.invalid && (contactForm.controls.email?.touched || contactForm.controls.email?.dirty)">
			email wrong pattern </p>
	<p>
			<label for="website">Website</label>
			<input type="text" id="website" name="website" formControlName="website">
  </p>
  <p
			*ngIf="contactForm.controls.website.errors?.required && contactForm.controls.website?.invalid && (contactForm.controls.website?.touched || contactForm.controls.website?.dirty)">
			website is required </p>      <p
			*ngIf="contactForm.controls.website.errors?.pattern && contactForm.controls.website?.invalid && (contactForm.controls.website?.touched || contactForm.controls.webstie?.dirty)">
			website wrong pattern </p>
	<p>
			<label for="phone">Phone</label>
			<input type="text" id="phone" name="phone" formControlName="phone">
  </p>
<p *ngIf="contactForm.controls.phone.errors?.own && contactForm.controls.phone?.invalid && (contactForm.controls.phone?.touched || contactForm.controls.phone?.dirty)">
			start with 9 number </p>
      
  <p *ngIf="contactForm.controls.phone.errors?.required && contactForm.controls.phone?.invalid && (contactForm.controls.phone?.touched || contactForm.controls.phone?.dirty)">
			Number is required </p>      
		
<div formGroupName='address'>
			<label for="city">City</label>
			<input type="text" id="city" name="city" formControlName="city">
  
<p *ngIf="contactForm.get('address.city').errors?.cityvalid && contactForm.get('address.city')?.invalid && (contactForm.get('address.city')?.touched || contactForm.get('address,city')?.dirty)">
			city should be howrah or kolkata </p>
    <p *ngIf="contactForm.get('address.city').errors?.required && contactForm.get('address.city')?.invalid && (contactForm.get('address.city')?.touched || contactForm.get('address,city')?.dirty)">
			City is required</p>
  
</div>

				<p>
					<label for="dob">Year of Birth </label>
					<select id="dob" name="dob" formControlName="dob">
      <option [ngValue]="c" *ngFor="let c of year">
        {{c}}
      </option>
    </select>
				</p>

				<p>
					<!-- <button type="submit" [disabled]="!contactForm.valid">Submit</button> -->

					<button type="submit">Submit</button>
				</p>

</form>