<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

	<p>
		<label for="firstname">First Name </label>
		<input type="text" id="firstname" name="firstname" formControlName="firstname">
      </p>
      <p
			*ngIf="contactForm.controls.firstname.errors?.required && contactForm.controls.firstname?.invalid && (contactForm.controls.firstname?.touched || contactForm.controls.firstname?.dirty)">
			firstname is required </p>      <p
			*ngIf="contactForm.controls.firstname.errors?.maxlength && contactForm.controls.firstname?.invalid && (contactForm.controls.firstname?.touched || contactForm.controls.firstname?.dirty)">
			firstname max 10 </p>
		<p>
			<label for="email">Email</label>
			<input type="text" id="email" name="email" formControlName="email">
  </p>
  <p
			*ngIf="contactForm.controls.email.errors?.required && contactForm.controls.email?.invalid && (contactForm.controls.email?.touched || contactForm.controls.email?.dirty)">
			email is required </p>      <p
			*ngIf="contactForm.controls.email.errors?.pattern && contactForm.controls.email?.invalid && (contactForm.controls.email?.touched || contactForm.controls.email?.dirty)">
			email wrong pattern </p>
		<p>



				<p>
					<label for="dob">Year of Birth </label>
					<select id="dob" name="dob" formControlName="dob">
      <option [ngValue]="c" *ngFor="let c of year">
        {{c}}
      </option>
    </select>
				</p>

				<p>
					<!-- <button type="submit" [disabled]="!contactForm.valid">Submit</button> -->

					<button type="submit">Submit</button>
				</p>

</form>